body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 20px 20px 20px 20px; 
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    min-width: 600px;
    font-size: 16px; /* Decrease base font size */
    overflow-wrap: break-word;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #444;
}

h1 {
    font-size: 1.75em; /* Adjust heading sizes */
    margin-top: 0;
    margin-bottom: 0.6em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.4em;
}

h3 {
    font-size: 1.25em;
    margin-bottom: 0.2em;
}

p {
    margin-bottom: 1em;
    line-height: 1.6;
}

#loadingMessage {
    justify-content: center;
    text-align: center; /* Add this line to center align the text */
}

#readingTime {
    display: block;
    font-size: 0.8em; /* Smaller font size */
    color: #888; /* Lighter color */
    font-style: italic; /* Italic text */
}

#apiKeyInput {
    text-align: center;
    font-size: 1em; /* Increase font size for better readability */
}



#openai_api_key {
    width: 200px;
}

#openai_api_key, #save {
    padding: 15px; /* Increase padding for a more modern look */
}

#openai_api_key:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Increase shadow size for more depth */
}

#save {
    background-color: #333; /* Dark grey */
    color: #f0f0f0; /* Light grey */
    transition: background-color 0.2s ease, color 0.2s ease; /* Smooth color transition */
}

#save:hover {
    background-color: #444; /* Slightly lighter grey */
    color: #fff; /* White */
}

#apiLink {
    display: block;
    font-size: 0.8em; /* Smaller font size */
    color: #888; /* Lighter color */
    text-align: center; /* Center align the text */
}